
body{
   display: grid;
    
    
    grid-template-columns: [one] 200px [two] 190px [three] 190px [fourt] 190px [five] 190px [end];
    grid-template-rows: [one] 100px [two] 200px [three] 250px [four] 150px;
}
div, header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#a{
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: rgb(100, 15, 86);
}
#b{
    grid-row-start: 2; 
    grid-row-end: 5;
    background-color: rgb(207, 13, 13);

}
#c{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(16, 175, 10);
}
#d{
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: rgb(192, 165, 15);
}
#e{
    grid-column-start: 2;
    background-color: aqua;
}
#f{ grid-column-start: 3;
    background-color: rgb(29, 5, 75);
}
#g{
    background-color: rgb(5, 121, 49);
}
#h{
    background-color: rgb(255, 136, 0);
}
#i{
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: rgb(30, 255, 0);

}










