
@media screen and (min-width: 480px) and (max-width: 767px){
    *{
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        text-align: center;
        
    }
    body{
        display: grid;
        
        grid-template-columns: [one] 240px [two] 240px [end];
        grid-template-rows: [one] 75px [two] 150px [three] 125px [four] 125px [five] 250px [six] 250px [seven] 80px;
 
    }
    div, header{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
#a{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;     

}
#b{
    background-clip: red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#c{
    background-color: green;  
    grid-column-start: 1;
    grid-column-end: 3;
}
#d{
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 3;
}
#e{
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 1;
}
#f{
    background-color: blueviolet;
    grid-column-start: 2;
    grid-column-end: 3;
    
}
#g{
    background-color: blue; 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7; 
   
}
#h{
    background-color:gold;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7; 
}
#i{
    background-color: darkred;
    grid-column-start: 1;
    grid-column-end: 3;

}
}
    